version: "3"

services:
  # フロント(本番環境)
  web:
    container_name: doko-yahoo_web_1
    build:
      context: ./
      dockerfile: ./web/Dockerfile
    environment:
      TZ: "Asia/Tokyo"
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./web/logs/nginx/:/var/log/nginx/
      - ./web/uwsgi_params:/etc/nginx/uwsgi_params
      - ./back/static:/var/www/static/
      - ./front/dist:/var/www/front/
      - /etc/letsencrypt/live/doko-yahoo.tk/fullchain.pem:/etc/nginx/fullchain.pem
      - /etc/letsencrypt/live/doko-yahoo.tk/privkey.pem:/etc/nginx/privkey.pem
    depends_on:
      - back

  # フロント(開発環境)
  front:
    container_name: doko-yahoo_front_1
    build:
      context: ./front
      dockerfile: Dockerfile
    volumes:
      - ./front:/app/:cached
      - ./front/node_modules:/app/node_modules
    ports:
      - "8080:8080"
    command: "npm run serve"

  # バックエンド
  back:
    container_name: doko-yahoo_back_1
    build:
      context: ./back
      dockerfile: Dockerfile
    command: "sh /server/start.sh"
    expose:
      - 5001
    volumes:
      - ./back:/server/
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    depends_on:
      - db

  # データベース
  db:
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
volumes:
  postgres_data:
