.DS_Store
node_modules
/dist
client_secret_387032555895-5oitnqo8ub1fm1f3sj8ehcf08poehu0r.apps.googleusercontent.com.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
