<div>
	<div v-if="isError" class="error-msg">
		<span v-for="(err, index) in errorMsg" :key="index">
			{{err}}
			<br>
		</span>
	</div>
	<div v-else></div>
	<div class="profile">
		<span v-if="isClicked" class="loading">
			<span> </span>
			<span> </span>
		</span>
		<div v-else class="content">
			<img src="../assets/profile_icon.jpeg">
			<!-- <HobbiesSelector @selectedHobbies="selectedHobbies = $event" /> -->
			<div class="input-form">
				<div class="label-form">
					<img class="label-icon" src="../assets/badge.png">
					<span class="label-name">名前</span><span class="required-mark">＊</span>
				</div>
				<div class="input-username">
					<label class="input-username-label">
						<input v-if="username" type="text" class="filled-username-field" v-model="username"
							placeholder="矢風 太郎" required>
						<input v-else type="text" class="input-username-field" v-model="username" placeholder="矢風 太郎"
							required>
					</label>
				</div>
			</div>
			<div class="input-form">
				<div class="label-form">
					<img class="label-icon" src="../assets/business_center.png">
					<span class="label-name">職種</span><span class="required-mark">＊</span>
				</div>
				<div class="select-jobs">
					<input type="radio" class="input-job-field" id="engineer" name="job" value="エンジニア" v-model="job">
					<label for="engineer" class="label-job">エンジニア</label>
					<input type="radio" class="input-job-field" id="designer" name="job" value="デザイナー" v-model="job">
					<label for="designer" class="label-job">デザイン</label>
					<input type="radio" class="input-job-field" id="business" name="job" value="ビジネス" v-model="job">
					<label for="business" class="label-job">ビジネス</label>
				</div>
			</div>

			<div class="input-form">
				<div class="label-form">
					<img class="label-icon" src="../assets/home.png">
					<span class="label-name">今、どこに住んでいる？</span><span class="required-mark">＊</span>
				</div>
				<div class="modal-button-field">
					<a href="#select-born-pref" v-if="born_pref" class="modal-button-selected">
						<div class="show-selected-pref">
							{{born_pref}}<span class="arrow-icon">▶️</span>
						</div>
					</a>
					<a href="#select-born-pref" v-else class="modal-button">
						<span class="modal-button-text">都道府県を選ぶ</span>
					</a>
				</div>
				<div class="modal-wrapper" id="select-born-pref">
					<a href="#!" class="modal-overlay"></a>
					<div class="modal-window">
						<div class="modal-content">
							<p class="modal-title">1つ選んでください</p>
							<span v-if="born_pref" class="selected-born">{{born_pref}}</span>
							<div class="section-container" v-for="(value, key) in regionPrefs" :key="key"
								:value="value">

								<div class="label-section">
									<span class="label-born-field">{{value.section}}</span>
									<div class="prefs-container">
										<span v-for="(pref, key) in value.prefs" :key="key" :value="pref">
											<input type="radio" class="input-born-field" :id="pref" name="born"
												:value="pref" v-model="born_pref">
											<label :for="pref" class="label-born"><span
													class="pref-field">{{pref}}</span></label>
										</span>
									</div>
								</div>
							</div>
						</div>
						<a href="#!" class="modal-close">✖️<i class="far fa-times-circle"></i></a>
					</div>
				</div>
			</div>

			<div class="input-form">
				<div class="label-form">
					<img class="label-icon" src="../assets/home_work.png">
					<span class="label-name">就職後はどこに住みたい？</span><span class="required-mark">＊</span>
				</div>

				<div class="modal-button-field">
					<a href="#select-three-pref" v-if="selectedPrefs.length" class="modal-button-selected">
						<div class="show-selected-pref">
							<span class="three-pref">{{printPrefs(selectedPrefs)}}</span><span
								class="arrow-icon">▶️</span>
						</div>
					</a>
					<a href="#select-three-pref" v-else class="modal-button">
						<span class="modal-button-text">都道府県を選ぶ</span>
					</a>
				</div>
				<div class="modal-wrapper" id="select-three-pref">
					<a href="#!" class="modal-overlay"></a>
					<div class="modal-window">
						<div class="modal-content">
							<p class="modal-title">最大3つまで選んでください</p>
							<div v-if="isSelectedPrefs()" class="show-prefs-container">
								<div v-for="(pref, index) in selectedPrefs" :key="index">
									<span class="selected-born">第{{index + 1}}希望：{{pref}}</span>
								</div>
							</div>
							<div class="section-container" v-for="(regionPref, sectionIndex) in regionPrefs">
								<div class="label-section">
									<span class="label-born-field">{{regionPref.section}}</span>
									<div class="prefs-container">
										<span v-for="(pref, prefIndex) in regionPref.prefs">
											<!-- <input type="checkbox" class="input-born-field" :id="getPrefIndex(pref)"
										name="three" :value="pref" v-model="selectedPrefs" @click="clickPref"
										v-bind:disabled="isSelected"> -->
											<input type="checkbox" class="input-born-field" :id="getPrefIndex(pref)"
												name="three" :value="pref" v-model="selectedPrefs"
												:disabled="isAllPrefs(pref)">
											<label :for="getPrefIndex(pref)" class="label-born">
												<span class="pref-field">{{pref}}</span>
											</label>
										</span>
									</div>
								</div>
							</div>
						</div>
						<a href="#!" class="modal-close">✖️<i class="far fa-times-circle"></i></a>
					</div>
				</div>

			</div>

			<div class="input-form">
				<div class="label-form">
					<img class="label-icon" src="../assets/interests.png">
					<span class="label-name">趣味</span>
				</div>
				<div id="hobbies-selector">
					<div class="hobby" v-for="(hobby, index) in hobbies_list" :key="index">
						<input type="checkbox" :id="'hobby' + index" :value="hobby.name" v-model="checkedHobbies" />
						<label class="label-hobbies" :for="'hobby' + index">
							<span class="emoji">{{ hobby.emoji }}</span>
							{{ hobby.name }}
						</label>
					</div>
				</div>
			</div>
			<div class="send-button-field">
				<a href="#">
					<button v-if="!isClicked" class="send-button" @click="sendUserInfo">利用を始める</button>
					<button v-else class="send-button-clicked">利用を始める</button>
				</a>
			</div>

			<!-- getのテスト -->
			<!-- <button @click="test">adviceをもらう</button> -->

			<!-- <div>=============== for debug =================</div>
	<div>名前：{{username}}</div>
	<div>職種：{{job}}</div>
	<div>趣味：{{hobbies}}</div>
	<div>希望地域：{{ selectedPrefs }}</div>
	<div>出身地：{{ born_pref }}</div>
	<div>出身地(index)：{{ born_prefNum }}</div>
	<div>{{resData}}</div>
	<div>===================================</div> -->
		</div>
	</div>
</div>